<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guangxunet.shop.business.mapper.CategoryMapper" >
  <resultMap id="BaseResultMap" type="com.guangxunet.shop.business.domain.Category" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from category
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.guangxunet.shop.business.domain.Category" useGeneratedKeys="true" keyProperty="id" >
    insert into category (name, parent_id, create_date, 
      update_date)
    values (#{name,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  
  <insert id="insertCateGorysItem" parameterType="java.util.Map" useGeneratedKeys="true" keyProperty="id" >
    insert into category (name, parent_id, create_date, 
      update_date)
    values (#{name}, #{parentId}, #{createDate}, 
      #{updateDate})
  </insert>
  
  
  <update id="updateByPrimaryKey" parameterType="java.util.Map" >
    update category
    set name = #{name,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <sql id="sqlSelect">
    id, name, parent_id, create_date, update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select <include refid="sqlSelect"/>
    from category
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select <include refid="sqlSelect"/>
    from category
  </select>
  
  <select id="selectOneAll" resultMap="BaseResultMap" >
    select <include refid="sqlSelect"/>
    from category
    where parent_id IS NULL
  </select>
  
  <select id="selectByParentId" resultType="java.util.Map" >
    SELECT
	cg.id,
	cg.name as "name",
	cg.parent_id,
	date_format(cg.create_date,'%Y-%m-%d') as "createDate",
	date_format(cg.update_date,'%Y-%m-%d') as "updateDate",
	cg2.name as "parentName"
	FROM category cg
	LEFT JOIN category cg2 on cg.parent_id = cg2.id
	WHERE cg.parent_id = #{pid}
  </select>
</mapper>